<div style="display: flex; flex-direction: column; height: 100%;">
  <app-header></app-header>
  <div style="display: flex; flex-direction: row; height: 100%">
    <app-menu
      style="flex: 1"
      [menu]="menu"
      (add)="onAdd($event)"
    ></app-menu>
    <app-order-list 
      [orders]="orders"
      (delete)="onDelete($event)"
    ></app-order-list>
  </div>
</div>
<div class="modal" [style.display]="isShowModal ? 'block' : 'none'">
  <div class="modal-content">
    <div class="header">冰量</div>
    <form action="">
      <input type="radio" name="ice" value="正常冰" [(ngModel)]="ice">正常冰
      <input type="radio" name="ice" value="少冰" [(ngModel)]="ice">少冰
      <input type="radio" name="ice" value="去冰" [(ngModel)]="ice">去冰
    </form>
    <div class="header">甜度 </div>
    <form action="">
      <input type="radio" name="ice" value="正常糖" [(ngModel)]="sugar">正常糖
      <input type="radio" name="ice" value="少糖" [(ngModel)]="sugar">少糖
      <input type="radio" name="ice" value="無糖" [(ngModel)]="sugar">無糖
    </form>
    <button (click)="closeModal(0)">add</button>
  </div>
</div>
<router-outlet></router-outlet>
